PORT=3000
JWT_SECRET=cambia_esto

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=dte_user
DB_PASSWORD=tu_password
DB_NAME=sees_dte

# FacturaLlama
FACTURALLAMA_API_KEY=

# Email
SMTP_HOST=smtp.tudominio.com
SMTP_PORT=587
SMTP_USER=notificaciones@proyectosees.com
SMTP_PASS=
ADMIN_NOTIFY=lduarte@proyectosees.com

# Demo
DEMO_KEY=Pl717200
DEMO_MAX_LOGINS=3
